
header{
  height: 50px;
  padding: 8px 5px;
  background-color: #BFC6CF; /* gris-bleu */
  color: #fff;
}

/* --- Page Accueil --- */
section{
  padding: 40px 40px;
}
li{
  list-style: none;
}

/* Sur le h1 du header */
.titreSite{
  margin: 0px;
  font-size: 30px;
}

.boutonConnexion:hover{
  background-color: #BFC6CF; /* gris-bleu */
}

.boutonConnexion{
  padding:6px 9px;
  background-color: #1F6984; /*bleu*/
  border: 0px solid white;
  color: #FFFAFB; /*blanc*/
  text-align: center;
  vertical-align: middle;
}

.boutonMenu{
  padding:8px;
  width: 140px;
  background-color: #1F6984; /*bleu*/
  border: 0px solid white;
  color: #FFFAFB; /*blanc*/
  text-align: center;
}

.boutonMenu:hover{
  background-color: #BFC6CF; /* gris-bleu */
}

/* -- Page Bibliotheque formes --*/
.zone-preview{
    height: 100px;
}
